<div class="container mt-5">
  <h1 class="heading text-dark text-center"><i>Qoutes App</i></h1>
  <ul >
    <div *ngFor='let quote of quotes;let i = index'>
      <li>{{quote.name}}, {{quote.Date|date|uppercase}}</li>
      <button class="btn bg-secondary text-light" (click)='toggleDetails(i)'>More</button>
  
      <app-quote-details-component *ngIf='quote.showAuthor' [quote]='quote' (isComplete)='completeQuote($event,i)'>

      </app-quote-details-component>

    </div>
  </ul>
<app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
</div>